html
  head
    title= title
    style
      include css/style.css
  body
    #app
      .sidebar
        .sidebar__logo CookBook
        .sidebar__menu
          a.sidebar__menu-item(href="/") Accueil
          a.sidebar__menu-item(href="/") Ajouter une recette
          a.sidebar__menu-item(href="/oauth2/sign_out") Deconnexion
      main.main
        .recipes
          h1.recipes__title Les meilleurs recettes
          p.recipes__subtitle Voici une sélection des recettes préférées de CookBook
          .recipes__items
            each recipe in recipes
              .recipe
                img.recipe__image(src="https://assets.afcdn.com/recipe/20221028/136792_w1000h667c1cx1063cy700cxb2121cyb1414.webp")
                .recipe__main
                  .recipe__name #{recipe.name}
                  .recipe__categories
                    .recipe__category.tag Plat
                    .recipe__category.tag De Saison
